aiofiles==22.1.0
aiohttp==3.8.1
aiohttp-socks==0.5.3
aiorpcX==0.18.5
aiosignal==1.2.0
alembic==1.7.7
altair==4.2.0
altgraph==0.17.2
anyio==3.6.1
apparmor==2.13.6
apt-xapian-index==0.49
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asn1crypto==1.4.0
asttokens==2.0.5
async-generator==1.10
async-timeout==4.0.2
asyncer==0.0.1
attrs==20.3.0
Automat==20.2.0
autopep8==1.6.0
autoscraper==1.1.12
Babel==2.10.3
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.9.3
bitstring==3.1.7
bleach==5.0.1
blinker==1.4
boxes==0.0.0
browser-cookie3==0.13.0
bs4==0.0.1
cachelib==0.9.0
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.7
click==7.1.2
colorama==0.4.4
coloredlogs==15.0.1
commonmark==0.9.1
config==0.5.1
configobj==5.0.6
constantly==15.1.0
cryptography==3.3.2
cs50==9.2.2
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.32
dateparser==1.1.1
dbus-python==1.2.16
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dhooks==1.1.4
dialogflow==2.0.0
discord==1.7.3
discord-webhook==0.15.0
discord.py==1.7.3
distro==1.5.0
Django==4.1.2
dnspython==2.0.0
docopt==0.6.2
document==1.0
dominate==2.7.0
Electrum==4.0.9
email-validator==1.2.1
emoji==1.7.0
entrypoints==0.4
escape==1.1
et-xmlfile==1.1.0
executing==0.8.3
ExifRead==2.3.2
fastapi==0.80.0
fastjsonschema==2.16.1
ffmpy==0.3.0
figlet==0.0.1
filelock==3.6.0
filetype==1.1.0
fire==0.4.0
Flask==1.1.4
Flask-Bootstrap==3.3.7.1
Flask-Ext==0.1
Flask-HTTPAuth==3.2.4
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==2.6.0
Flask-MySQL==1.5.2
Flask-Script==2.0.6
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WTF==1.0.1
flatbuffers==22.9.24
fonttools==4.31.2
frozenlist==1.3.1
fsspec==2022.11.0
futures==3.0.5
gcloud==0.17.0
gdown==4.5.1
google-api-core==1.34.0
google-auth==2.15.0
googleapis-common-protos==1.57.0
goslate==1.5.4
gpg===1.14.0-unknown
gradio==3.16.2
greenlet==1.1.2
grpcio==1.51.1
grpcio-status==1.48.2
gTTS==2.2.4
h11==0.13.0
helpdev==0.7.1
html5lib==1.1
httpcore==0.16.3
httplib2==0.18.1
httpx==0.23.3
humanfriendly==10.0
hyperlink==21.0.0
idna==3.3
ImageHash==4.2.1
imageio==2.19.5
importlib-metadata==4.11.3
incremental==21.3.0
install==1.3.5
ipwhois==1.2.0
ipykernel==6.15.1
ipython==8.1.1
ipython-genutils==0.2.0
itemadapter==0.5.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi==0.18.1
jeepney==0.7.1
Jinja2==2.11.3
jmespath==1.0.0
joblib==1.1.0
json5==0.9.8
jsonpickle==3.0.1
jsonschema==4.7.2
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyterlab==3.4.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
jws==0.1.3
kazam==1.4.5
keyring==23.5.0
kiwisolver==1.4.2
langdetect==1.0.9
LibAppArmor==2.13.6
linkify-it-py==1.0.3
llvmlite==0.39.1
lolcat==1.4
lxml==4.6.3
lz4==4.0.0
Mako==1.2.0
markdown-it-py==2.1.0
MarkupSafe==2.0.1
mate-menu==20.4.1
mate-tweak==21.4.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
mechanize==0.4.5
mistune==0.8.4
mock==4.0.3
more-itertools==9.0.0
MouseInfo==0.1.3
mpmath==1.2.1
msgpack==1.0.0
multidict==5.1.0
music21==8.1.0
mutagen==1.45.1
mysql-connector-python==8.0.28
nbclassic==0.4.3
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netaddr==0.8.0
netifaces==0.10.9
networkx==2.8.5
notebook-shim==0.1.0
numba==0.56.3
numpy==1.21.3
nyx==2.1.0
oauth2client==3.0.0
olefile==0.46
onboard==1.4.1
onioncircuits==0.7
onionshare==2.2
onnxruntime==1.12.1
openai==0.19.0
opencv-python==4.5.5.64
opencv-python-headless==4.6.0.66
openpyxl==3.0.9
openshot-qt==2.5.1
orjson==3.8.5
outcome==1.1.0
packaging==20.9
packbits==0.6
panda3d==1.10.11
panda3d-gltf==0.13
panda3d-simplepbr==0.10
pandas==1.3.4
pandas-stubs==1.2.0.35
pandocfilters==1.5.0
parse==1.19.0
parsel==1.6.0
parso==0.8.3
passlib==1.7.4
pathlib==1.0.1
pbkdf2==1.3
pbr==5.5.0
pen==0.1.0a4
pexpect==4.8.0
phonenumbers==8.12.45
pianoplayer==2.2.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
playsound==1.3.0
pluggy==1.0.0
plyer==2.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.28
Protego==0.2.1
protobuf==3.20.3
psd-tools3==1.8.2
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
PyAutoGUI==0.9.53
PyBundle==1.0.6
pyc==0.1.0
pycairo==1.16.2
pycodestyle==2.8.0
pycountry==20.7.3
pycparser==2.21
pycryptodome==3.4.3
pycryptodomex==3.9.7
pycups==2.0.1
pycurl==7.43.0.6
pydantic==1.10.2
PyDictionary==2.0.1
PyDispatcher==2.0.5
pydub==0.25.1
pyfiglet==0.7.5
pygame==2.1.2
PyGetWindow==0.0.9
pygit2==1.11.1
Pygments==2.7.1
PyGObject==3.38.0
pyinotify==0.9.6
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.2
pyjokes==0.6.0
PyJWT==1.7.1
PyMatting==1.1.8
PyMsgBox==1.0.8
PyMySQL==1.0.2
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==2.11.1
pyperclip==1.8.2
pypresence==4.2.1
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyquery==1.4.3
Pyrebase==3.0.27
PyRect==0.1.4
PyRIC==0.1.6.4
pyrsistent==0.18.1
PyScreeze==0.1.28
pyscript==0.2.5
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
python-apt==2.2.1+parrot1
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
python-dotenv==0.19.2
python-geoip==1.2
python-geoip-geolite2==2015.303
python-geoip-python3==1.3
python-jwt==2.0.1
python-multipart==0.0.5
python-nmap==0.7.1
python-xapp==2.0.2
python-xlib==0.29
python3-xlib==0.15
pyttsx3==2.90
pytube==12.1.0
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywebcopy==6.3.0
pywhatkit==5.3
pyxattr==0.7.2
pyxdg==0.27
PyYAML==6.0
pyzmq==23.2.0
QDarkStyle==2.8.1
qrcode==6.1
QtPy==1.9.0
queuelib==1.6.2
regex==2022.3.2
rembg==2.0.25
reportbug==7.10.3+deb11u1
requests==2.26.0
requests-file==1.5.1
requests-toolbelt==0.7.0
rfc3986==1.5.0
rich==12.6.0
rich-click==1.5.2
roguehostapd==1.1.2
rsa==4.8
scapy==2.4.5
scikit-image==0.19.3
scikit-learn==1.1.1
scipy==1.7.3
scour==0.38.2
Scrapy==2.6.1
screeninfo==0.8
seaborn==0.11.2
SecretStorage==3.3.1
selenium==3.141.0
Send2Trash==1.8.0
service-identity==21.1.0
setproctitle==1.2.1
simplejson==3.17.2
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
sounddevice==0.4.5
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.36
sqlparse==0.4.2
stack-data==0.2.0
starlette==0.19.1
stem==1.8.0
stripe==4.0.2
subprocess.run==0.0.8
svg.path==5.1
svgpathtools==1.4.4
svgwrite==1.4.2
sympy==1.11.1
telegram==0.0.1
termcolor==1.1.0
terminado==0.15.0
terminaltables==3.1.10
terminator==2.1.0
threadpoolctl==3.1.0
tifffile==2022.5.4
timeago==1.0.15
tinycss2==1.1.1
tldextract==3.2.1
toml==0.10.2
tomlkit==0.10.1
toolz==0.12.0
torbrowser-launcher==0.3.3
tornado==6.1
tqdm==4.62.3
traitlets==5.3.0
trio==0.20.0
trio-websocket==0.9.2
twilio==6.33.1
Twisted==22.4.0
typer==0.4.2
typing-extensions==4.4.0
tzdata==2022.1
tzlocal==4.2
uc-micro-py==1.0.1
ufw==0.36
urllib3==1.26.7
ursina==4.1.1
urwid==2.1.2
uuid==1.30
uvicorn==0.18.3
validators==0.18.2
vedo==2022.4.2
visitor==0.1.3
vtk==9.2.2
w3lib==1.22.0
watchdog==2.1.9
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.3.3
websockets==10.4
Werkzeug==1.0.1
wifiphisher==1.4
wifite==2.5.8
wikipedia==1.4.0
wrapt==1.14.1
wslink==1.10.0
wsproto==1.1.0
WTForms==3.0.1
xcffib==0.12.1
xdg==5
yarl==1.6.3
youtube-dl==2021.6.6
zipp==3.7.0
zope.interface==5.4.0
